<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Stats-Action</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="icon" href="/static/images/logo.svg">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <a href="/templates/html/index.html" class="logo">
            <img src="/static/images/logo.svg" alt="Logo Spotify Stats-Action">
            <p class="site-title">Spotify Stats-Action</p>
        </a>
        <div id="search-wrapper">
            <button class="search-icon" id="search-button">
                <img src="/static/images/search-icon.png" alt="Search Icon" id="search-icon-img" class="imagesearchicon">
            </button>
            <div id="search-container">
                <input type="text" id="search-bar" placeholder="Cerca utente...">
            </div>
        </div>        
    </header>    
    <footer>
        <p>Made by <a href="https://github.com/ildesh">ildesh</a></p>
    </footer>
    <script src="/static/js/user-stats.js"></script>
</body>